# generic ignore
node_modules/
npm-debug.log
*.pyc

# specific ignore
experimental_server.py
public/delpher.html
public/index.html
public/let001-image.html
public/let001-text.html
public/test_selection.html
public/video.html

public/js/delpher_searcher.js
public/js/delpher_searcher.js.map
