-i https://pypi.python.org/simple/
aniso8601==8.0.0
attrs==19.3.0
click==7.0
elasticsearch==5.4.0
flask-cors==3.0.3
flask-httpauth==3.2.4
flask-restplus==0.11.0
flask==1.0.2
itsdangerous==1.1.0
jinja2==2.11.1
jsonschema==3.2.0
markupsafe==1.1.1
passlib==1.7.1
pyrsistent==0.15.7
pytz==2015.7
rfc3987==1.3.7
six==1.14.0
urllib3==1.25.1
werkzeug==0.15.3
